*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color: linear-gradient(#34be82, #97e3c2);
    --background: black;
}

body{
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.textbubble{
    position: relative;
    animation-name: pop-up;
    animation-duration: 1s;
}

input{
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

input:checked ~ .bubble .circle{
    animation-name: typing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

label{
    width: 300px;
    height: 300px;
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
}

label:hover{
    cursor: pointer;
}

.bubble{
    width: 270px;
    height: 200px;
    background: white;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.circle{
    width: 30px;
    height: 30px;
    background: var(--background);
    border-radius: 50%;
}

.second{
    animation-delay: 0.5s;
}

.third{
    animation-delay: 1s;
}

.triangle, .triangleBackground{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100% );
}

.triangle{
    width: 40px;
    height: 40px;
    background: white;
    top: 96%;
    left: 50%;
}

.triangleBackground{
    width: 50px;
    height: 50px;
    background: black;
    top: 97%;
}

@keyframes pop-up {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes typing {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}